
.top, .middle, .bottom{
	padding: 3rem;
	height: 42rem;
	margin-bottom: 30px;
	background-color: #EEE;
}
.contain{
	text-align: left;
	margin-right: 1rem;
	
	background-color: #FFF;
    padding: 1.5rem;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.middle-title-back, .bottom-title-back{
	left: 1rem;
}

.middle-title-back{
	top: 51rem;
}

.bottom-title-back{
	top: 100.5rem;
}

.middle-title-back, .bottom-title-back, .top-title, .middle-title, .bottom-title{
	text-align:center;
	font-size: 4rem;
	font-weight: bold;
	position: absolute;
	width: 6rem;
	height: 6rem;
	background-color:rgba(128,128,128,0.5);
	/*
	opacity: 0;
	*/
}

.top-title, .middle-title, .bottom-title{
	right: 1.5rem;
}
.top-title{
	top: 41.5rem;
}
.middle-title{
	top: 91.5rem;
}
.bottom-title{
	top: 142rem;
}

body {
	font-family:Sans-serif;
	font-size:3rem;
	line-height: 9rem;

	padding: 0;
	text-align: left;
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;

	cursor: default;
}

.top{
	/*padding: 6rem 7rem;*/
}
label{
	text-decoration: underline;
}