@charset "UTF-8";
/**
 * 
 * @authors 119155012
 * @date    2016-03-31
 */
.blur{
	-webkit-filter: blur(12px);
	filter:blur(12px);
	background-color:rgba(0,0,0,0.2);
}
.blur, .bold{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-transition-delay: 6s;
	transition-delay: 6s;
}
.bold{
	text-shadow: 1px 0px black;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.hc-name{
	z-index: 100 !important;
}
.hc-preview {
	z-index: 200 !important;
}
div.hc-details {
    height: 50px;
    line-height: 1.6rem !important;
    text-align: justify !important;
    font-size: 2rem !important;
    color: blue;
    z-index: 0;
}

.hc-details img {
    height: 60px;
    width: auto;
}
span{
    padding: 1.79rem 0;
}
.page_container{
    text-align: justify;
}

div.contain > div > span {
    position: relative;
    z-index: 201;
}